@media screen {

	body {
		margin: 0;
		padding: 0;
		font-family: Rubik, sans-serif;
		color: #fff;
		-webkit-font-smoothing: antialiased;
	}

	h1, h2, h3 {
		margin: 0;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
	}

	a {
		color: #fff;
	}

	header #badge {
		background: transparent url(../img/badge.svg) 50% 50% no-repeat;
		opacity: .4;
	}

	section#social {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	section#social div {
		margin-right: 10px;
		font-size: 36px;
		opacity: .2;
	}

	section#social a {
		display: block;
		width: 68px;
		height: 68px;
		margin-left: 10px;
		background-color: transparent;
		background-size: 48px 48px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		transition: opacity .5s;
	}

	section#social a#twitch {
		background-image: url(../img/icon-twitch.svg);
	}

	section#social a#twitter {
		background-image: url(../img/icon-twitter.svg);
	}

	section#social a#steam {
		background-image: url(../img/icon-steam.svg);
	}

	footer {

	}

	footer #credit {
		position: absolute;
		right: 20px;
		bottom: 20px;
		font-size: 12px;
		opacity: .2;
	}
}

@media screen and (max-width: 767px) {

	body {
		background: #141e1e url(../img/background-small.jpg) 50% 0 no-repeat;
	}

	header {
		margin-bottom: 100px;
	}

	header #badge {
		width: 80px;
		height: 80px;
		margin: 50px auto;
		background-size: auto 100%;
	}

	header h1 {
		font-size: 48px;
		margin-bottom: 20px;
	}

	header h2 {
		font-size: 24px;
	}

	header br {
		display: none;
	}

	section#social a {
		opacity: .6;
	}
}

@media screen and (min-width: 768px) {

	body {
		background: #141e1e url(../img/background-large.jpg) 50% 0 no-repeat;
		background-size: 100% auto;
	}

	header {
		margin-bottom: 200px;
	}

	header #badge {
		width: 140px;
		height: 140px;
		margin: 150px auto;
		background-size: 100% 100%;
	}

	header h1 {
		font-size: 96px;
		margin-bottom: 10px;
	}

	header h2 {
		font-size: 36px;
	}

	section#social a {
		opacity: .2;
	}

	section#social a:hover {
		opacity: .6;
	}
}