/*******************************
Variables
*******************************/

.defaulttext {
    font-size: 16px;
}

.titletext {
    font-size: 20px;
}

/*******************************
Scaffolding
*******************************/

body {
    background: #111 url(../img/tactile-noise.png) 0 0 repeat;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #333;
    .defaulttext;
}

#col-minor {
    background: transparent url(../img/exclusive-paper.png) 0 0 repeat;
    width: 35%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#col-major {
    float: left;
    width: 65%;
    margin-left: 35%;
    background: transparent url(../img/texture-highlights.png) 0 0 repeat;
}

/*******************************
Sections
*******************************/

#bio-wrapper {
    background: transparent url(../img/highlight-right-20.png) right 0 repeat-y;
    width: 35%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    section#bio {
        float: right;
        width: 320px;
        padding: 100px 40px 0 0;
        font-size: 18px;
        text-align: right;
        line-height: 30px;

        .negative {
            display: inline-block;
            color: #fff;
            background: #20adef url(../img/blue-texture.png) 0 0 no-repeat;
            font-size: 36px;
            padding: 4px 8px 8px 8px;
            margin: 12px 0 8px 0;
        }
        
        .negative.alt {
            background: #20adef url(../img/blue-texture.png) right 0 no-repeat;
        }
    }
}

#content-wrapper {
    float: left;
    width: 640px;

    nav {
        position: fixed;
        width: 40px;
        margin: 100px 0 0 40px;

        a {
            display: block;
            width: 40px;
            margin-bottom: 40px;
            opacity: .2;

            &.twitter {
                height: 24px;
                background: transparent url(../img/nav-twitter.png) 50% 0 no-repeat;
            }

            &.tumblr {
                height: 23px;
                background: transparent url(../img/nav-tumblr.png) 50% 0 no-repeat;
            }

            &.projects {
                height: 29px;
                background: transparent url(../img/nav-projects.png) 50% 0 no-repeat;
            }

            &.about {
                height: 26px;
                background: transparent url(../img/nav-about.png) 50% 0 no-repeat;
            }

            &.findme {
                height: 29px;
                background: transparent url(../img/nav-findme.png) 50% 0 no-repeat;
            }

            &:hover, &.on {
                cursor: pointer;
                opacity: 1.0;
            }

            &.last-child {
                margin-right: 0;
            }
        }
    }

    section#content {
        padding: 100px 0 0 120px;
        background: transparent url(../img/shadow-left-20-offset.png) 0 0 repeat-y;

        .content {
            color: #fff;
            line-height: 1.25;

            a {
                color: #0180d7;
                text-decoration: none;
            }

            a:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            h2 {
                font-size: 36px;
                margin: 10px 0;
                padding-top: 10px;
                border-top: 1px solid #eee;
            }

            h4 {
                .defaulttext;
                margin: 10px 0;
            }

            h4:first-child {
                margin: 20px 0 10px 0;
            }

            p {
                line-height: 1.4;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            img, iframe, embed, video {
                display: block;
                max-width: 500px;
                margin-bottom: 10px;
            }

            strong {
                font-weight: 400;
            }

            em {
                font-style: italic;
            }
        }
        
        .content {
            margin-bottom: 80px;
        }
        
        .content.twitter {

            .tweet {
                margin-bottom: 10px;
            }
        }

        .content.tumblr {

            .post {
                margin-bottom: 40px;
    
                &.quote {
    
                    .text {
                        font-size: 24px;
                        font-style: italic;
                                text-shadow: 0px 0px 1px #222;
                           -moz-text-shadow: 0px 0px 1px #222;
                        -webkit-text-shadow: 0px 0px 1px #222;

                        .title {
                            color: #bbb;
                            font-size: 12px;
                        }
                    }
                    
                    .source {
                        display: inline-block;
                        font-style: normal;
                        .defaulttext;
                    }
                }
    
                &.link {
    
                    a {
                        color: #fff;
                        font-size: 24px;
                        padding-left: 28px;
                        background: transparent url(../img/link-icon.png) 1px 50% no-repeat;
                    }
                }
    
                &.chat {

                    .title {
                        .titletext;
                    }
                }

                &.audio {
    
                    .meta {
                        .titletext;
                    }
                }
            }
        }

        .content.projects {

            .screenshot {

                img {
                    margin-bottom: 40px;
                }
            }
        }

        .content.about {

            #me {
                float: right;
                border: 3px solid #fff;
                border-radius: 1px;
                margin-left: 20px;
                        box-shadow: 0px 1px 1px rgba(0,0,0,.1) inset;
                   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1) inset;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            }

            #skills {
                margin-bottom: 12px;

                #bars {
                    position: relative;
                    padding: 10px 0;
                    border-left: 2px solid #111;

                    div {
                        font-size: 13px;
                        height: 30px;
                        line-height: 30px;
                        margin-bottom: 10px;
                        padding-left: 10px;
                        background: #0180d7 url(../img/skill-bar-bg.png) 0 0 repeat-x;

                        &[data-value=val20] {
                            width: 20%;
                        }

                        &[data-value=val40] {
                            width: 40%;
                        }

                        &[data-value=val60] {
                            width: 60%;
                        }

                        &[data-value=val80] {
                            width: 80%;
                        }

                        &[data-value=val100] {
                            width: 100%;
                        }
                        
                        &:before {
                            position: absolute;
                            content: '';
                            z-index: -1;
                            width: 100%;
                            height: 30px;
                            background: rgba(0,0,0,.1);
                                    box-shadow: 0px 0px 3px rgba(0,0,0,.1) inset;
                               -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.1) inset;
                            -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.1) inset;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    
                }
            }
        }

        .content.findme {

            #services {

                a {
                    display: inline-block;
                    height: 80px;
                    margin-right: 40px;
                    opacity: .2;

                    &.twitter {
                        width: 71px;
                        background: transparent url(../img/findme-twitter.png) 0 50% no-repeat;
                    }

                    &.facebook {
                        width: 48px;
                        background: transparent url(../img/findme-facebook.png) 0 50% no-repeat;
                    }

                    &.reddit {
                        width: 48px;
                        background: transparent url(../img/findme-reddit.png) 0 30% no-repeat;
                    }

                    &.steam {
                        width: 77px;
                        background: transparent url(../img/findme-steam.png) 0 50% no-repeat;
                    }

                    &.xbl {
                        width: 48px;
                        background: transparent url(../img/findme-xbl.png) 0 50% no-repeat;
                    }

                    &:hover {
                        opacity: 1.0;
                        cursor: pointer;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .content.footer {
            font-size: 13px;
        }

        .dateandtime {
            color: #666;
            font-size: 11px;
            margin-top: 5px;
        }

    }
}

#stash {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}